
name: Auto-Merge PR (SAFE)

on:
  pull_request:
    branches-ignore:
      - master
      - main
    types: [opened, synchronize, reopened]

jobs:
  auto_merge:
    runs-on: ubuntu-latest
    container:
      image: lunamidori5/pixelarch:quartz
      options: --cpus 1 --user root
    if: github.event.pull_request.user.login == 'lunamidori5'
    steps:
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Checkout
        uses: actions/checkout@v5
      - name: Enable Pull Request Automerge
        run: bash .github/auto-merge.sh "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
